.blockList {
    margin: 0;
    padding: 0;
    list-style: none;
}

#playerContainer {
    flex: 1 0 auto;
    order: 1;
    width: 20%;
    min-height: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
#reset {
    margin-top: auto;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}
#playerContainer h2 {
    text-align: center;
}
.playerList {
    width: 108px;
    display: flex;
    flex-wrap: wrap;
}
.playerList li {
    width: 50px;
    height: 70px;
    margin: 2px;
    overflow: hidden;
    font-size: 0;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background: radial-gradient(circle at top, #8B5CF6 10%, #5B21B6);
    border-radius: 3px;
    position: relative;
}
.playerList li:first-letter {
    font-size: 20px;
}
.playerList li span {
    width: 100%;
    text-align: center;
    height: 15px;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: 999;
    background: #fff;
    color: #000;
    font-size: 10px;
    line-height: 14px;
}
#activePlayers {
    width: auto;
    margin-bottom: 20px;
}
#gameData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}

#lobbyCode {
    border: 4px #60A5FA solid;
    border-radius: 4px;
    text-align: center;
    padding: 4px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#levelContainer {
    flex: 0 1 auto;
    width: 80%;
    height: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}
#levelContainer h2 {
    text-align: center;
}
#levels {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 75%;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-shrink: 0;
}
.level4 img {
    border-bottom: 1px #000 solid;
}
#levels li.level {
    width: 40%;
    text-align: center;
}
#levels li.level a {
    background: radial-gradient(circle at bottom left, #60A5FA 10%, #0369A1);
    display: block;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    line-height: 18px;
    padding-bottom: 3px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    transition: background-color .2s ease;
}
#levels li.level a.selected {
    background: radial-gradient(circle at bottom left, rebeccapurple 10%, mediumpurple);
}
#levels li.level a span.label {
    transition: opacity .2s ease;
    display: inline-block;
}
#levels li.level a.selected span.label {
    opacity: 0;
    display: none;
}
#levels li.level a span#startGame {
    animation-delay: .3s;
    opacity: 0;
    display: none;
}
#levels li.level a.selected span#startGame {
    opacity: 1;
    display: inline-block;
}
#levels li.level img {
    width: 100%;
    z-index: 1;
}
